
.maintable tbody tr>td {
    border: 0 none;
    padding: 0;
}

.table.middletable {
    margin: 0;
    white-space: normal;
}

.middletable tbody tr>td {
    border-top: 1px solid #eceeef;
    padding: 0.75rem;
}

.table.childtable {
    margin: 0;
}

.table tr.nohover:hover {
    background-color: transparent !important;
}

.table.childtable thead th {
    background: #fff none repeat scroll 0 0;
    padding: 0.50rem 0.75rem;
}

.table.childtable tbody>tr:hover {
    background-color: transparent !important;
}

.table.childtable td {
    padding: 0.50rem 0.75rem;
    border: 0px;
}

.table.middletable tr.nohover>td {
    padding: 0;
}

/* for row hide show */
.show-row{
    display: table-row;
}
.hide-row{
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}
.bottom-label {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    color: #2a3134;
}

