
<form class="readmin-form custom_form">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchText" name="searchText" (keyup)="applyFilter($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
          <div class="col-md-4 filter-btn">
            <button type="button" class="clear-btn" color="accent" (click)="clearFilters()" mat-raised-button>Clear All</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-center justify-content-end">
        <button mat-raised-button color="accent" class="btn btn-default" (click)="clearRedirection()" style="position: absolute; right: 120px;">
          <span>Cancel</span>
        </button>
        <button mat-raised-button color="primary" class="add-primary-btn add-new-btn" (click)="openDialog()">
          <span>Add New</span>
        </button>
      </div>
    </div>
  </form>
<div class="clearfix"></div>
<app-data-table class="mt-3 d-block table-responsive" [inputColumns]="displayedColumns" [inputSource]="categoryData" [inputMeta]="metaData" [inputButtons]='actionButtons'
  (onChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)">
</app-data-table>
