<form class="readmin-form custom_form">
  <div class="row">
    <div class="col-sm-12 d-flex align-items-center justify-content-end">
      <button mat-raised-button color="accent" class="btn btn-default" (click)="clearRedirection()" style="position: absolute; right: 120px;">
        <span>Cancel</span>
      </button>
      <button mat-raised-button color="primary" class="add-primary-btn add-new-btn" (click)="openDialog()">
        <span>Add New</span>
      </button>
    </div>
    </div>
</form>
<div class="clearfix"></div>

<app-data-table class="mt-3 d-block table-responsive" [inputColumns]="displayedColumns" [inputSource]="sectionData" [inputMeta]="metaData" [inputButtons]='actionButtons'
  (onChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)">
</app-data-table>
